<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="grup05.pis2018.ub.edu.betweenopposites">

    <dist:module dist:instant="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".View.Ranking"
                  android:screenOrientation="portrait"
        ></activity>
        <activity
                android:name=".View.UnJugador"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/un_jugador"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
                android:name=".View.PausaActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/pausa"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".View.PantallaDosJugadores"
                  android:screenOrientation="portrait"
        ></activity>
        <activity android:name=".View.Opcions"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".View.FinJuegoActivity"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".View.IniciarSessio"
                  android:screenOrientation="portrait"
        >
        </activity>
    </application>

</manifest>